.enterField {
	font-size: : 24pt;
	font-weight: bold;
	color: black;
	display: black; 
}
.labelInputField {
	width: 40%;
}
#mainDiv {
	border: 2px solid black;
	width: 100%
}
#authenticationForm{
	margin-right: 40%;
	margin-left: 40%;
}
input.enterField {
	width:100px;
	display :inline;
}